# Core
fastapi==0.116.1
uvicorn==0.35.0
starlette==0.47.2
anyio==4.10.0
uvloop==0.21.0
httptools==0.6.4
websockets==15.0.1

# Security / Auth
bcrypt==4.0.1
passlib==1.7.4
python-jose==3.5.0
PyJWT==2.10.1
Authlib==1.6.1
cryptography==45.0.6
email_validator==2.2.0
itsdangerous==2.2.0 

# Database & Cache
asyncpg==0.30.0
redis==6.3.0

# Config & Utils
pydantic==2.11.7
pydantic-settings==2.10.1
python-dotenv==1.1.1
orjson==3.11.1
ujson==5.10.0

# File handling & uploads
aiofiles==24.1.0
python-multipart==0.0.20
cloudinary==1.44.1

# Logging & Monitoring
sentry-sdk==2.34.1
rich==14.1.0

# ML / AI
transformers==4.56.0
datasets==4.0.0
sentence-transformers==5.1.0
accelerate==1.10.1
tokenizers==0.22.0
safetensors==0.6.2
numpy==2.3.2
scikit-learn==1.7.1
scipy==1.16.1
pandas==2.3.2
tqdm==4.67.1
huggingface-hub==0.34.4
qdrant-client==1.12.1 

# Google GenAI
google-genai==1.36.0
google-auth==2.40.3
